body{
    border: 0.2px solid black;
    background: white;
    margin: 2px auto;
    width: 90%;
    height: 200px;
    padding-top: 10px;
    text-align: center;
    font-family: Cambria;
    padding-left: 10px;
    padding-right: 10px;
    
}

