#cuerpo{
    background: wheat;
    border: 2px black;
    border-radius: 8px;
    height: 70px;
    width: 80%;
    padding-left: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;
    
}
#intro{
    font-family: "Verdana";
    padding-top: 2px;
    text-align: center;
}
#menu{
   
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 50px;
}

#menu ul a{
    font-family: "Verdana";
    color: whitesmoke;
    text-justify: auto;
    cursor: pointer;
    margin: 2%;
}   
#menu ul a:hover{
    background: rgb(100, 100, 100);
}